
<div class="px-5">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="hover" data-keyboard="true">
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/c_airport.jpg" alt="img" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Planning ahead</h3>
          <p>We will take care of everything, just enjoy your trip</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/c_train.jpg" alt="img" width="1100" height="500">
        <div class="carousel-caption">
          <h3><i class="fas fa-leaf"></i> We offer CO<sub>2</sub> neutral plans <i class="fas fa-leaf"></i></h3>
          <p>Alternative plans to save the planet</p>
          <p>Go by train, bus, or ship</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/c_luggage.jpg" alt="img" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Bring your cat along</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-sm-6 col-lg-3 py-3">
    <div class="card w-100 text-center">
      <div class="card-body">
        <h1 class="card-title"><i class="fas fa-plane"></i></h1>
        <h5 class="card-title">Best Plan</h5>
        <ul class="text-left">
          <li>Shortest route</li>
          <li>Lorem</li>
          <li>Ipsum</li>
        </ul>
        <a href="#" class="btn btn-outline-light float-right">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 py-3">
    <div class="card w-100">
      <div class="card-body">
        <h1 class="card-title text-center"><i class="fas fa-medkit"></i></h1>
        <h5 class="card-title text-center">Insurance</h5>
        <ul class="text-left">
  <li>Medical</li>
  <li>Travelling</li>
  <li>Everywhere</li>
</ul>
        <a href="#" class="btn btn-outline-light float-right">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 py-3">
    <div class="card w-100 text-center">
      <div class="card-body">
        <h1 class="card-title"><i class="fas fa-dollar-sign"></i></h1>
        <h5 class="card-title">Offers</h5>
       <ul class="text-left">
  <li>Best Price</li>
  <li>Discounts</li>
  <li>Guarantee</li>
</ul>
        <a href="#" class="btn btn-outline-light float-right">Read more</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 py-3">
    <div class="card w-100 text-center">
      <div class="card-body">
        <h1 class="card-title"><i class="fas fa-cat"></i></h1>
        <h5 class="card-title">Cats</h5>
        <ul class="text-left">
  <li>Many cats</li>
  <li>Many cats</li>
  <li><em>*meow*</em></li>
</ul>
        <a href="#" class="btn btn-outline-light float-right">Read more</a>
      </div>
    </div>
  </div>
</div>


